In [1]:
import pandas as pd
import numpy as np

In [2]:
    df = pd.read_csv("C:/Users/elkac/Desktop/Statapp/szl_data/Binance-futures/BTCUSDT/Binance-futures_BTCUSDT_20220905.szltd.csv",delimiter=";",skiprows=range(4))

chacal met dans df ton df dans pas ton pas et dans l'echelle "min" ou "sec" bv chacal

In [3]:
def echelle(df,pas,echelle):
    if echelle=="min":
        df.loc[:,"date"]=df.loc[:,"date"].str[11:16]
    elif echelle =="sec":
        df.loc[:,"date"]=df.loc[:,"date"].str[11:19]
    else :
        return ("echelle = min ou echelle = sec restart")
    
    df = df.drop_duplicates(subset="date").reset_index(drop=True)
    df=df.iloc[::pas,:]
    return df

exemple d'utilisation

In [4]:
echelle(df,4,"sec").head(10)

,date,side,price,quantity,bbid_price,bbid_qty,bask_price,bask_qty
0,23:59:59,s,19992.9,0.079,19992.9,2.158,19993.0,29.297
4,00:00:04,b,19991.3,0.001,19989.3,0.419,19991.0,0.566
8,00:00:08,s,19992.8,0.001,19992.8,0.270,19993.1,2.439
12,00:00:12,b,19993.1,0.093,19993.0,9.166,19993.1,0.351
16,00:00:16,s,19995.9,0.415,19995.9,4.272,19996.0,3.479
20,00:00:20,b,19998.5,0.005,19998.4,12.506,19998.5,5.063
24,00:00:24,s,19997.9,0.001,19997.9,17.045,19998.0,13.417
28,00:00:28,b,19998.9,0.028,19998.8,5.573,19998.9,4.635
32,00:00:32,s,19999.9,0.003,19999.9,8.317,20000.0,90.745
36,00:00:36,b,19996.9,0.005,19996.8,21.801,19996.9,1.673