In [1]:
import pandas as pd
import numpy as np

In [23]:
    df = pd.read_csv("C:/Users/elkac/Desktop/Statapp/szl_data/Binance-futures/BTCUSDT/Binance-futures_BTCUSDT_20220905.szltd.csv",delimiter=";",skiprows=range(4))

In [14]:
df_obs = pd.read_csv("C:/Users/elkac/Desktop/Statapp/szl_data/Binance-futures/BTCUSDT/Binance-futures_BTCUSDT_20220902.szlobsl10.csv",delimiter=";",skiprows=range(4))

In [16]:
df.info()
df_obs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2695583 entries, 0 to 2695582
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   date        object
 1   side        object
 2   price       float64
 3   quantity    float64
 4   bbid_price  float64
 5   bbid_qty    float64
 6   bask_price  float64
 7   bask_qty    float64
dtypes: float64(6), object(2)
memory usage: 164.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945169 entries, 0 to 945168
Data columns (total 41 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          945169 non-null  object
 1   bid_price_1   78627 non-null   float64
 2   bid_qty_1     787284 non-null  float64
 3   bid_price_2   93319 non-null   float64
 4   bid_qty_2     236788 non-null  float64
 5   bid_price_3   146755 non-null  float64
 6   bid_qty_3     232417 non-null  float64
 7   bid_price_4   190434 non-null  float64
 8   bid_qty_4     269915 non-null  float64
 9   bid_price_5   226515 non-null  float64
 10  bid_qty_5     309395 non-null  float64
 11  bid_price_6   260326 non-null  float64
 12  bid_qty_6     339427 non-null  float64
 13  bid_price_7   291795 non-null  float64
 14  bid_qty_7     372438 non-null  float64
 15  bid_price_8   318004 non-null  float64
 16  bid_qty_8     400748 non-null  float64
 17  bid_price_9   339797 non-null  float64
 18  bid_qty_9     423251 non-null  float64
 19  bid_price_10  358850 non-null  float64
 20  bid_qty_10    443768 non-null  float64
 21  ask_price_1   78579 non-null   float64
 22  ask_qty_1     786399 non-null  float64
 23  ask_price_2   93419 non-null   float64
 24  ask_qty_2     231528 non-null  float64
 25  ask_price_3   150010 non-null  float64
 26  ask_qty_3     236986 non-null  float64
 27  ask_price_4   193971 non-null  float64
 28  ask_qty_4     273839 non-null  float64
 29  ask_price_5   228092 non-null  float64
 30  ask_qty_5     310652 non-null  float64
 31  ask_price_6   259377 non-null  float64
 32  ask_qty_6     338450 non-null  float64
 33  ask_price_7   287577 non-null  float64
 34  ask_qty_7     368541 non-null  float64
 35  ask_price_8   311037 non-null  float64
 36  ask_qty_8     392870 non-null  float64
 37  ask_price_9   331520 non-null  float64
 38  ask_qty_9     414857 non-null  float64
 39  ask_price_10  348589 non-null  float64
 40  ask_qty_10    432069 non-null  float64
dtypes: float64(40), object(1)
memory usage: 295.7+ MB

In [4]:
df.head(100)

,date,side,price,quantity,bbid_price,bbid_qty,bask_price,bask_qty
0,2022-09-04T23:59:59.878Z,s,19992.9,0.079,19992.9,2.158,19993.0,29.297
1,2022-09-04T23:59:59.931Z,s,19992.9,0.550,19992.9,2.238,19993.0,29.252
2,2022-09-04T23:59:59.943Z,s,19992.9,1.517,19992.9,2.238,19993.0,29.252
3,2022-09-04T23:59:59.943Z,s,19992.9,0.002,19992.9,2.238,19993.0,29.252
4,2022-09-04T23:59:59.943Z,s,19992.9,0.002,19992.9,2.238,19993.0,29.252
...,...,...,...,...,...,...,...,...
95,2022-09-05T00:00:03.843Z,s,19990.4,0.001,19990.9,0.049,19991.0,5.390
96,2022-09-05T00:00:03.843Z,s,19990.4,0.006,19990.9,0.049,19991.0,5.390
97,2022-09-05T00:00:03.843Z,s,19990.3,0.001,19990.9,0.049,19991.0,5.390
98,2022-09-05T00:00:03.843Z,s,19990.2,0.001,19990.9,0.049,19991.0,5.390
99,2022-09-05T00:00:03.843Z,s,19990.2,0.425,19990.9,0.049,19991.0,5.390

In [18]:
df_obs.tail(10)

,date,bid_price_1,bid_qty_1,bid_price_2,bid_qty_2,bid_price_3,bid_qty_3,bid_price_4,bid_qty_4,bid_price_5,...,ask_price_6,ask_qty_6,ask_price_7,ask_qty_7,ask_price_8,ask_qty_8,ask_price_9,ask_qty_9,ask_price_10,ask_qty_10
945159,2022-09-02T23:59:59.043613Z,NaN,1.078,NaN,NaN,19940.5,0.034,19940.4,0.209,19940.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
945160,2022-09-02T23:59:59.143265Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19942.0,0.256,19942.1,0.021,19942.2,0.005,19942.3,0.200,19942.5,0.470
945161,2022-09-02T23:59:59.246597Z,NaN,7.078,NaN,NaN,19940.6,1.600,19940.5,0.159,19940.4,...,19942.1,0.021,19942.2,0.005,19942.3,0.325,19942.5,0.470,19942.6,0.162
945162,2022-09-02T23:59:59.345576Z,NaN,17.234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19942.3,0.200,19942.5,0.470,19942.6,0.162,19942.7,0.105,19942.8,0.005
945163,2022-09-02T23:59:59.445497Z,NaN,3.482,NaN,NaN,19940.5,0.159,19940.4,0.209,19940.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.230,NaN,NaN
945164,2022-09-02T23:59:59.545539Z,NaN,1.156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
945165,2022-09-02T23:59:59.645645Z,NaN,0.231,NaN,NaN,NaN,0.034,NaN,NaN,NaN,...,NaN,NaN,NaN,0.771,NaN,0.167,NaN,0.105,NaN,1.065
945166,2022-09-02T23:59:59.745429Z,NaN,1.231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
945167,2022-09-02T23:59:59.845467Z,NaN,2.290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19942.2,0.005,19942.3,0.325,19942.5,0.771,19942.6,0.167,19942.7,0.009
945168,2022-09-02T23:59:59.947567Z,NaN,10.454,NaN,NaN,NaN,0.159,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.887,NaN,NaN,NaN,NaN

In [5]:
df.describe()

,price,quantity,bbid_price,bbid_qty,bask_price,bask_qty
count,2.695583e+06,2.695583e+06,2.695583e+06,2.695583e+06,2.695583e+06,2.695583e+06
mean,1.978159e+04,1.657197e-01,1.978162e+04,1.595823e+01,1.978173e+04,1.717227e+01
std,8.080637e+01,7.305063e-01,7.887192e+01,1.854692e+01,7.887715e+01,2.542905e+01
min,5.115600e+02,1.000000e-03,1.962340e+04,1.000000e-03,1.962350e+04,1.000000e-03
25%,1.972190e+04,2.000000e-03,1.972210e+04,2.314000e+00,1.972220e+04,2.350000e+00
50%,1.976170e+04,2.000000e-02,1.976190e+04,1.052100e+01,1.976210e+04,1.130000e+01
75%,1.984290e+04,1.140000e-01,1.984280e+04,2.335100e+01,1.984290e+04,2.457200e+01
max,2.566282e+04,1.793060e+02,2.004490e+04,4.122620e+02,2.004670e+04,1.107404e+03

In [24]:
df.loc[:,"date"]=df.loc[:,"date"].str[11:16]

In [25]:
df.head(10)

    date side    price  quantity  bbid_price  bbid_qty  bask_price  bask_qty
0  23:59    s  19992.9     0.079     19992.9     2.158     19993.0    29.297
1  23:59    s  19992.9     0.550     19992.9     2.238     19993.0    29.252
2  23:59    s  19992.9     1.517     19992.9     2.238     19993.0    29.252
3  23:59    s  19992.9     0.002     19992.9     2.238     19993.0    29.252
4  23:59    s  19992.9     0.002     19992.9     2.238     19993.0    29.252
5  23:59    s  19992.9     0.001     19992.9     2.238     19993.0    29.252
6  23:59    s  19992.9     0.006     19992.9     2.238     19993.0    29.252
7  23:59    s  19992.9     0.001     19992.9     2.238     19993.0    29.252
8  23:59    s  19992.9     0.159     19992.9     2.238     19993.0    29.252
9  23:59    s  19992.8     0.001     19992.9     2.238     19993.0    29.252

In [36]:
df_minute = df.drop_duplicates(subset="date")
df_minute= df_minute.reset_index(drop=True)
df_minute

,date,side,price,quantity,bbid_price,bbid_qty,bask_price,bask_qty
0,23:59,s,19992.9,0.079,19992.9,2.158,19993.0,29.297
1,00:00,s,19992.7,0.890,19992.7,1.228,19992.8,40.707
2,00:01,s,19996.7,0.122,19996.7,2.119,19996.8,10.287
3,00:02,s,19985.9,0.240,19985.9,2.564,19986.0,7.021
4,00:03,s,20010.9,0.027,20010.9,14.057,20011.0,9.099
...,...,...,...,...,...,...,...,...
1435,23:54,b,19806.4,0.001,19806.3,5.711,19806.4,12.149
1436,23:55,b,19792.7,0.001,19792.6,5.028,19792.7,41.066
1437,23:56,b,19794.1,0.001,19794.0,24.898,19794.1,3.659
1438,23:57,b,19791.0,0.020,19790.9,16.782,19791.0,3.737
1439,23:58,b,19772.4,0.166,19772.3,1.141,19772.4,37.217